.error{
    color: #f9c643;
}

.form-control-checkbox {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}

body {
    background-color: #333333;
    color: #e2e2e2;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #dadada !important;
    color: #000000;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #b1b1b1;
    color: #000000;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #535353;
    color: #eeeeee;
}

